h1 {color: rgb(147, 33, 115);
background-color: rgb(202, 115, 202);
font-family:cursive;
text-align: center;
font-size: 80px;
border-radius: 10%;}

.recipes { color:rgb(48, 97, 176);
    font-family: fantasy;
}
